<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>ChatSync®️ | Register and Login Redirection Page.</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <div class="primary">
            <div class="logo">
                <img src="/logo.png" >
            </div>
            <div class="content">
                <div class="register">
                    <h1>Don't have Accuont</h1>
                    <p>If you don't have account of ChatSync. <br> So Don't worry register here. <br> Start Chat Privately and Securly.</p>
                    <p>&#129147;</p>
                    <a href="/users/register">Register</a>
                </div>
                <div class="login">
                    <h1>Have an Accuont!</h1>
                    <p>Just login here and Chat Privately and Securly.</p>
                    <p>&#129147;</p>
                    <a href="/users/login">Login</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>